kfp
google-cloud-aiplatform
google-cloud-storage
configparser
google-cloud-secret-manager
cloud-sql-python-connector[pg8000]
sqlalchemy
pandas
numpy
unidecode
pgvector
google-cloud-pipeline-components
requests
fsspec
gcsfs
pydantic
google-cloud-run
google-cloud-pubsub
python-json-logger