google-cloud-storage
cloud-sql-python-connector[pg8000] 
pandas
google-cloud-secret-manager
requests
sqlalchemy
fsspec
gcsfs
pydantic
kfp
google-cloud-aiplatform
google-cloud-pipeline-components
unidecode
numpy
pgvector